[Unit]
Description=Hazelcast IMDG
After=syslog.target network.target
Before=httpd.service

[Service]
EnvironmentFile=-/etc/hazelcast/hazelcast.conf
User=hazelcast
PIDFile=/var/run/hazelcast/hazelcast.pid
ExecStart=java $JAVA_OPTS -cp /opt/hazelcast/lib/* com.hazelcast.core.server.StartServer
StandardOutput=journal
SuccessExitStatus=143 SIGTERM

[Install]
WantedBy=multi-user.target
